@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  width: 100%;
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;
  background-color: #f2f2f2;
  color: #333333;
  margin: 0 auto;
}

.container {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main-container {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  min-height: 64px;
  padding-left: 70px;
  padding-right: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 28px;
}

.navigation {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}

.logo {
  align-self: flex-start;
  display: block;
  margin-bottom: -6px;
  z-index: 1;
}

.logo-img {
  display: block;
}

.navigation__list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

.navigation__wrap-icons-button {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-shrink: 0;
}

.navigation__user {
  max-width: 180px;
}

.navigation__user a {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 64px;
  min-width: 44px;
  padding: 0;
}

.navigation__user a svg {
  transition: color 0.3s;
}

.navigation__user a:hover svg {
  color: #756157;
}

.navigation__user a:focus svg {
  color: #756157;
}

.navigation__user a:active svg {
  color:
    rgba(117, 97, 87, 0.3);
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  font-style: inherit;
  border: none;
  color: #ffffff;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.8;
  text-transform: uppercase;
  background-color: #82b3d3;
  border-radius: 4px;
  padding: 8px 16px;
  min-width: 191px;
  margin: 0;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, opacity 0.3s, border 0.3s;
}

.button:hover {
  background-color: #68a2ca;
}

.button:focus {
  background-color: #68a2ca;
}

.button:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.button:disabled {
  background-color: #E5E5E5;
  color: #FFFFFF;
}

.button_small-font {
  font-size: 16px;
  line-height: 1.25;
}

.button_to-catalog {
  background-color: #756157;
  min-width: 160px;
  font-size: 16px;
  line-height: 1.25;
}

.button_to-catalog:hover {
  background-color: #615048;
}

.button_to-catalog:focus {
  background-color: #615048;
}

.button_to-catalog:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.button_to-catalog:disabled {
  background-color: #E5E5E5;
  color: #FFFFFF;
}


.button_search {
  background-color: #756157;
  min-width: 376px;
}

.button_search:hover {
  background-color: #615048;
}

.button_search:focus {
  background-color: #615048;
}

.button_search:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.button_searchg:disabled {
  background-color: #E5E5E5;
  color: #FFFFFF;
}

.button_subscribe {
  min-width: 232px;
  border-radius: 0 4px 4px 0;
}

.button_details {
  background-color: #756157;
  min-width: 140px;
}

.button_details:hover {
  background-color: #615048;
}

.button_details:focus {
  background-color: #615048;
}

.button_details:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.button_details:disabled {
  background-color: #E5E5E5;
  color: #FFFFFF;
}

.button_favourite {
  min-width: 140px;
}

.button_reset {
  border: 3px solid transparent;
  background-color: transparent;
}

.button_reset:hover {
  opacity: 0.6;
  background-color: transparent;
  border: 3px solid transparent;
}

.button_reset:focus {
  border: 3px solid #83B3D3;
  background-color: transparent;
}

.button_reset:active {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.3);
  border: 3px solid transparent;
}

.button_reset:disabled {
  background-color: transparent;
  opacity: 0.1;
  color: #ffffff;
  border: 3px solid transparent;
}

.button_in-favourites {
  background-color: #7db54f;
  min-width: 140px;
}

.button_in-favourites:hover {
  background-color: #6C9E42;
}

.button_in-favourites:focus {
  background-color: #6C9E42;
}

.button_in-favourites:active {
  background-color: #7DB54F;
  color: rgba(255, 255, 255, 0.3);
}

.button_in-favourites:disabled {
  background-color: #E5E5E5;
  color: #FFFFFF;
}

.section-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
}

.section-title_light {
  color: #ffffff;
}

.section-description {
  font-size: 22px;
  line-height: 1.18;
  text-align: center;
  margin: 0;
}

.section-description_light {
  color: #ffffff;
}

.hero {
  background-image: url("../images/mountains_hero.jpg");
  background-size: cover;
  background-position: center;
  background-color: #82b3d4;
  background-repeat: no-repeat;
  padding: 51px;
  min-height: 485px;
  text-align: center;
}

.navigation__link {
  display: block;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  color: #000000;
  text-align: center;
  padding: 10px 16px;
}

.navigation__link_favorite {
  position: relative;

}

.quantity-favorite {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 11px;
  right: 4px;
  min-width: 20px;
  min-height: 20px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: #7db54f;
  font-size: 10px;
  font-weight: 400;
  line-height: 1;
  color: #ffffff;
}

.section-lead {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  margin: 0;
  margin-bottom: 25px;
}

.advantages__wrap-titles {
  margin: 0 auto;
  width: 651px;
  padding-top: 69px;
  padding-bottom: 90px;
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.advantages__item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(131, 179, 211, 0.12);
  text-align: center;
  width: 400px;
  min-height: 385px;
}

.advantages__item_wide .advantages__title {
  color: #ffffff;
}

.advantages__item_wide .advantages__description {
  color: #ffffff;
}

.advantages__item:not(.advantages__item_wide):nth-child(2n+1) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages__cover {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

.advantages__item_wide {
  display: flex;
  justify-content: space-between;
  background-color: #82b3d3;
  width: 100%;
}

.advantages__wrap-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  padding: 70px 85px;

}


.advantages__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 62px;
}

.advantages__description {
  margin: 0;
}

.invitation__wrap-titles {
  margin: 0 auto;
  width: 505px;
  padding-top: 64px;
  padding-bottom: 64px;
}

.invitation__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.invitation__item {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  background-color: rgba(131, 179, 211, 0.122);
  width: 400px;
  min-height: 385px;
  padding: 40px 85px;
}

.invitation__description {
  order: 3;
  margin: 0;
  text-align: center;
}

.invitation__item:nth-child(2n) {
  background-color: #ffffff;
}

.invitation__title {
  order: 2;
  font-weight: 700;
  font-size: 24px;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
}

.invitation__item:nth-child(1)::before {
  content: url('../images/house_icon.svg');
}

.invitation__item:nth-child(2)::before {
  content: url('../images/food_icon.svg');
}

.invitation__item:nth-child(3)::before {
  content: url('../images/souvenir_icon.svg');
}

.search__wrap {
  width: 592px;
  margin: 0 auto;
  padding-top: 96px;
  padding-bottom: 96px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 54px;
}

.subscribe {
  background-image: url("../images/mountains_subscribe.jpg");
  background-size: cover;
  background-position: center;
  background-color: #82b3d4;
  background-repeat: no-repeat;
}

.subscribe__wrap {
  margin: 0 auto;
  padding-top: 96px;
  padding-bottom: 104px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 54px;
}

.subscribe__info-wrap {
  width: 475px;
}

.subscribe-form {
  display: flex;
}

.subscribe-form__input {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  line-height: 1.33;
  border: none;
  outline: none;
  display: block;
  min-width: 452px;
  border-radius: 4px 0 0 4px;
  background-color: #f2f2f2;
  padding: 14px 20px;
}

.catalog-hotels {
  padding: 50px 70px 60px;
  display: flex;
  flex-direction: column;
}

.catalog-hotels__top-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 49px;
  margin-bottom: 40px;
}

.catalog-hotels__sort-box {
  display: flex;
  gap: 70px;
  margin-left: auto;
}

.select-control {
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  width: 292px;
  min-height: 49px;
  appearance: none;
  border-radius: 4px;
  outline: none;
  border: 2px solid #E5E5E5;
  padding: 12px 20px;
  padding-right: 40px;
  transition: border 0.3s;
  background-image: url('../images/select_arrow.svg');
  background-repeat: no-repeat;
  background-position: right 20px center;
}

.select-control:hover {
  border: 2px solid #68A2CA;
}

.select-control:focus {
  border: 2px solid #68A2CA;
}

.select-control:active {
  border: 2px solid #3F5E72;
}

.select-control:disabled {
  border: 2px solid rgba(0, 0, 0, 0.3);
}

.hotel-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 80px;
}

.card {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto 1fr;
  width: 340px;
  gap: 16px 20px;
  border-radius: 4px;
  border: 1px solid #E6E6E6;
  padding: 20px;
}

.card__image {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

.page-footer {
  min-height: 120px;
  padding: 40px 70px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__social-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  max-width: 200px;
  flex-wrap: wrap;
}

.footer__link {
  width: 47px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #83b3d3;
  transition: color 0.3s;
}

.footer__link:hover {
  color: #68a2ca;
}

.footer__link:focus {
  color: #68a2ca;
}

.footer__link:active {
  color: rgba(104, 162, 202, 0.3);
}

.page-footer address {
  font-style: normal;
}

.page-footer a {
  text-decoration: none;
}

.footer__phone {
  font-size: 40px;
  line-height: 1.0;
  text-align: center;
  color: #000000;
  transition: color 0.3s;
}

.footer__phone:hover {
  color: #756157;
}

.footer__phone:focus {
  color: #756157;
}

.footer__phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.developer-link svg{
  color: #000000;
  transition: color 0.3s;
}

.developer-link:hover svg{
  color: #756157;
}

.developer-link:focus svg{
  color: #756157;
}

.developer-link:active svg{
  color: rgba(117, 97, 87, 0.3);
}

.wrap-header-filters {
  background-image: url("../images/mountain_catalog.jpg");
  background-color: #806258;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 35px 70px 70px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.inner-header__title {
  font-weight: 700;
  font-size: 60px;
  line-height: 1.3;
  color: #ffffff;
  margin: 0;
}

.breadcrumbs {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
}

.breadcrumbs__item{
  display: flex;
  align-items: baseline;
  gap: 5px;
}

.breadcrumbs__item:not(:last-child):after{
  content: url('../images/breadcrumbs_divider.svg');
}

.breadcrumbs__link {
  display: block;
  text-decoration: none;
  font-size: 16px;
  line-height: 1.31;
  color: #ffffff;
  padding: 8px 5px;
  transition: color 0.3s;
}

.breadcrumbs__link:not(.breadcrumbs__link_current):hover {
 color: rgba(255, 255, 255, 0.6);

}

.breadcrumbs__link:not(.breadcrumbs__link_current):focus {
 color: #FFFFFF;
}

.breadcrumbs__link:not(.breadcrumbs__link_current):active {
  color: rgba(255, 255, 255, 0.3);
}


.breadcrumbs__item:first-child a {
  padding: 8px 5px 8px 0;
}

.filter-form {
  display: flex;
  justify-content: space-between;
}

.filter-form__left-box {
  display: flex;
  gap: 70px;
}

.filter-form__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.filter-form__group {
  width: 150px;
  border: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.filter-form__group_inputs-box {
  width: 288px;
}

.filter-form__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  color: #ffffff;
  margin: 0;
  margin-bottom: 32px;
  padding: 0;
}

.control {
  line-height: 1.28;
  color: #ffffff;
}

.filter-form__right-box {
  display: flex;
  gap: 70px;
}

.filter-form__inputs-list {
  display: flex;
  gap: 2px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.control__input_price {
  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
  font-weight: 700;
  line-height: 1.33;
  width: 143px;
  min-height: 48px;
  background-color: #f2f2f2;
  border-radius: 4px 0 0 4px;
  border: none;
  margin: 0;
  padding: 12px 20px;
}

.control__input_price-right {
  border-radius: 0 4px 4px 0;
}

.control__input_range {
  padding: 0;
  margin: 0;
}

.filter-form__button-box {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: auto;
}

.card-toggles {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  list-style: none;
  margin: 0;
  padding: 0;
  max-width: 165px;
}

.card-toggles__button {
  display: block;
  background-color: #ffffff;
  color: #000000;
  width: 48px;
  height: 48px;
  cursor: pointer;
  border-radius: 4px;
  border: 2px solid #e5e5e5;
  transition: border 0.3s;
}

.card-toggles__button:hover {
  border: 2px solid #000000;
}

.card-toggles__button:focus {
  border: 2px solid #68A2CA;
}

.card-toggles__button:active {
  border: 2px solid #000000;
}

.card-toggles__item:first-child .card-toggles__button {
  background-image: url('../images/list_table_icon.svg');
  background-size: 16px 14px;
  background-position: center;
  background-repeat: no-repeat;
}

.card-toggles__item:last-child .card-toggles__button {
  background-image: url('../images/list_list_icon.svg');
  background-size: 16px 14px;
  background-position: center;
  background-repeat: no-repeat;
}

.card-toggles__item:nth-child(2) .card-toggles__button {
  background-image: url('../images/list_by_one_icon.svg');
  background-size: 16px 14px;
  background-position: center;
  background-repeat: no-repeat;
}

.card-toggles__button-current {
  border: 2px solid #000000;
}


.catalog-hotels__text {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
}

.card__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  color: #000000;
  margin: 0;
}

.card__link {
  text-decoration: none;
  grid-column: 1 / -1;
}

.card__rating {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 140px;
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  background-color: #f2f2f2;
  margin: 0;
}

.card__type {
  margin: 0;
}

.card__price {
  margin: 0;
  justify-self: flex-end;
}

.pagination {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.button-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.8;
  min-width: 60px;
  height: 60px;
  padding: 8px;
  background-color: #82b3d3;
  color: #ffffff;
  border-radius: 4px;
  margin: 0;
  cursor: pointer;
  border: 1px solid transparent;
  transition: background-color 0.3s, color 0.3s, border 0.3s;
}

.pagination__separator {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  line-height: 1.18;
  text-align: center;
  background-color: #ffffff;
  color: #000000;
  min-width: 60px;
  height: 60px;
}

.button-pagination_current {
  color: #000000;
  background-color: #f2f2f2;
  cursor: none;
}

.button-pagination:not(.button-pagination_current):hover {
  background-color: #68a2ca;
  border: 1px solid #82B3D3;
}

.button-pagination:not(.button-pagination_current):focus {
  background-color: #68a2ca;
  border: 1px solid #82B3D3;
}

.button-pagination:not(.button-pagination_current):active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.subscribe_catalog {
  background-image: none;
  background-color: #ffffff;
}

.field_catalog-subsribe {
  background-color: #f2f2f2;
}
