@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  background-color: rgb(255, 255, 255);
  color: rgb(51, 51, 51);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.button {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  background: rgb(130, 179, 211);
}

.button_to-catalog, .button_search, .button_details {
  background-color: rgb(117, 97, 87);
}

.button_reset {
  background-color: transparent;
}

.button_in-favourites {
  background-color: rgb(125, 181, 79);
  ;
}

.button_show {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.hero {
  background: rgb(130, 179, 212) url('../images/mountains_hero.jpg') no-repeat;
  background-size: 100% auto;
}

.navigation__link {
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: rgb(0, 0, 0);
  text-align: center;
}


.section-lead, .section-title, .catalog-hotels__text {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
}

.section-lead, .section-title {
  text-align: center;
}

.section-title_light {
  color: rgb(255, 255, 255);
}

.advantages__list, .invitation__list {
  text-align: center;
}


.advantages__item, .invitation__item {
  background-color: rgba(131, 179, 211, 0.122);
}

.advantages__item_wide {
  background-color: rgb(130, 179, 211);
}

.advantages__item_darker-background {
  background: rgba(131, 179, 211, 0.2);
}

.invitation__item_background-light {
  background-color: rgb(255, 255, 255);
}

.section-description, .pagination__separator {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.section-description_light {
  color: rgb(255, 255, 255);
}

.advantages__title, .invitation__title, .card__title {
  font-weight: 700;
  font-size: 24px;
  color: rgb(0, 0, 0);
}

.advantages__title, .invitation__title {
  text-align: center;
  text-transform: uppercase;
}

.subscribe {
  background: rgb(130, 179, 212) url('../images/mountains_subscribe.jpg') no-repeat;
  background-size: 100% auto;
}

.subscribe_catalog {
  background: rgb(255, 255, 255);
}

.advantages__title_light {
  color: rgb(255, 255, 255);
}

.page-footer address {
  font-style: normal;
}
.page-footer a {
 text-decoration: none;
}

.footer__phone {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  color: rgb(0, 0, 0);
}

.wrap-header-filters {
  background: rgb(130, 179, 212) url('../images/mountain_catalog.jpg') no-repeat;
  background-size: 100% auto;
}

.inner-header__title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: rgb(255, 255, 255);
}

.breadcrumbs__link {
  text-decoration: none;
  font-size: 16px;
  line-height: 21px;
  color: rgb(255, 255, 255);
}

.filter-form__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: rgb(255, 255, 255);
}

.control {
  line-height: 23px;
  color: rgb(255, 255, 255);
}

.card__link{
  text-decoration: none;
}
.card__rating {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  background-color: rgb(242, 242, 242);
}

.button_pagination {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
}

.button_pagination-current {
  color: rgb(0, 0, 0);
  background-color: rgb(242, 242, 242);
}
